html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.heading{
    font-family: Georgia, serif;
}

table{
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid rgb(211, 211, 211);
    width: 25%;
    height: 25px;
}

th{
    border-width: 1px;
    background-color: rgb(175, 175, 175);
    border-color: rgb(211, 211, 211);
    border-style: solid;
}

tr:nth-child(odd) td{
    background: rgb(241, 241, 241);
}

blockquote{
    border-left: solid rgb(221,221,221);
    font-style: italic;
    text-indent: 30px;
}